.news-item {
  border: 4px solid darkgrey;
  padding: 10px;
}

.news-description {
  border: 2px solid green;
  padding: 2px;
  min-width: 20px;
  min-height: 20px;
}

.news-long {
  border: 2px solid green;
  padding: 2px;
  min-width: 200px;
  min-height: 200px;
}
